.home-section{
    padding: 70px 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}
/* 
.home-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 80px;
  background-color: #f9f9f9;
  min-height: 90vh;
  flex-wrap: wrap;
}

@media screen and (min-width: 1025px) {
  .home-section {
    flex-direction: row;
  }
}

@media screen and (max-width: 1024px) {
  .home-section {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 480px) {
  .home-section {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 10px;
  }
} */
